#backgroundimg {
  background-image: url("../images/board.jpg");
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.board-container{
width: 80%;
height: auto;
margin: auto;
}

img.board-image{
  width: auto;
  height: 100px;
  border-radius: 80px / 50px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 10px;
}

.board-item{
  width: 100%;
  margin: 10px;
  background-color: #d6d6c2;
  padding: 1em;
  float: left;
}

.board-separator{
  border: 0;
  height: 1px;
  background-color: #bfbfbf;
  clear: both;
}

.board-horiz-separator{
  border: 0;
  width: 1px;
  height: 110px;
  background-color: #bfbfbf;
  float: left;
  margin: 0 10px 0 10px;
}
