body {
  width: 100%;
  margin: 0;
}

.spacer{
  width: 100%;
  height: 6em;
}

.backgroundimg {
  opacity: 0.5;
  width: 100%;
  height: auto%;
  position: fixed;
  z-index: -1;
}

.line-separator{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #404040, #ccc);
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

#navbar{
  float: left;
  height: 6em;
  width: 100%;
  background-color: #f2f2f2;
  position: fixed;
  z-index: 10;
  opacity: 0.8;
}

img.logo{
  height: 3.5em;
  padding-right: 9px;
}

li.navbutton{
  display: inline-block;
  list-style-type: none;
  text-align: left;
}

li a {
  padding-right: 9px;
  padding-left: 7px;
  color: #000;
  text-decoration: none;
  font-family: 'BenchNine', sans-serif;
  font-size: 2em;
  border-left: 1px solid #808080;
}

li a:hover {
  color: #d6d6c2;
}

.borderlist {
    list-style-position:inside;
    border: 1px solid black;
}

.rightside-feature {
  width: 60%;
  height: 964px;
  float: left;
  margin: 10px 0 10px 30px;
  overflow: hidden;
}

.rightside-feature:img {
  width: 100%;
}

#index-content{
  width: 80%;
  margin: auto;
}

.top-feature{
  width: 60%;
  height: auto;
  clear: both;
}



.leftside-feature{
  width: 30%;
  float: left;
  margin: 10px;
}

.feature{
  width: 300px;
  height: 300px;
  background-color: #d6d6c2;
  float: left;
  margin: 0 0 20px 0;
  padding: 0em 0.5em 0.5em 0.5em;
  overflow: hidden;
}

p{
  font-family: 'Source Serif Pro', serif;
  clear: left;
}

p.featuretext{
  font-family: 'Source Serif Pro', serif;
  color: #404040;
  clear: left;
}

h1.featuretext{
  font-family: 'BenchNine', sans-serif;
  color: #404040;
}

.footer{
  width: 80%;
  margin: auto;
}
